body {
    background-color: lightseagreen;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

i {
    font-style: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
/*
.container:hover .target {
    background-color: blue;
}
.target {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border-radius: 8px;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    justify-content: center;
}*/

header {
    display: flex;
    justify-content: space-between;
    padding: 30px calc(50% - 500px);
    background-color: orangered;
    align-items: center;
}
.banner {
    padding: 30px calc(50% - 500px);
    height: 600px;
    background: url(images/bg.jpg) no-repeat center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
h1 {
    font-size: 4rem;
    font-family: cursive;
}
.cards {
    padding: 30px calc(50% - 500px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.cards__item {
    box-shadow: 0 0 5px 0 #0008, 0 0 15px 0 #0004;
    background-color: orangered;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 1fr;
}
.cards__item i {
    font-size: 70px;
}
h2 {
    margin: 0;
    height: 70px;
}
p {
    margin: 0;
}

.logo {
    font-size: 1.5rem;
}
.logo i {
    font-size: 2rem;
}

.soc {
    display: flex;
    gap: 30px;
    font-size: 30px;
}

@media (max-width: 1059px) {
    header {

    }
    .banner {

    }
    .cards {
        padding-left: 30px;
        padding-right: 30px;
    }
    .cards__item {
        font-size: 16px;
        grid-template-columns: 1fr;
        gap: 20 px;
    }
    h2 {
        min-height: auto;
        margin-bottom: 20px;
    }
}
@media (max-width: 650px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
    }
}